@{
    ViewBag.Title = "AdSetUsers";
    Layout = "~/Views/Shared/_Setting.cshtml";
}
<!-- Page Header -->
<div class="page-header">
    <div class="pull-left">
        <ol class="breadcrumb visible-sm visible-md visible-lg">
            <li><a href="index.html"><i class="icon fa fa-home"></i>Advanced Settings</a></li>
            <li class="active"><i class="fa fa-laptop"></i>Users</li>
        </ol>
    </div>
    <div class="pull-right">
        <h2>Users</h2>
    </div>
</div>
<!-- End Page Header //TODO:CPF -->
<h2>AdSetUsers</h2>

