<div class="panel panel-default">
    <div class="panel-heading">
        <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Problem Info</h6>
        <div class="panel-actions">
            <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form id="summary-form" class="form-horizontal" novalidate="novalidate">
            <div class="row">
                <label class="col-md-1 control-label" for="select">ProblemNo</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Process</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Machine#</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Tool#</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label" for="select">SAP</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">PartName</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Customer</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">WorkOrder</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label" for="select">Date</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Source</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">DefectCode</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">DefectQty</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label" for="select">ShiftType</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Severity</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <label class="col-md-1 control-label" for="select">Repeated</label>
                <div class="col-md-2">
                    <input type="text" class="col-xs-2 form-control" placeholder="">
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label" for="textarea-input">Problem Description</label>
                <div class="col-md-11">
                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-md-1 control-label" for="textarea-input">Upload Picture</label>
                <div class="col-md-11">
                   
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Problem Solving Team</h6>
        <div class="panel-actions">
            <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Quality Alert</h6>
        <div class="panel-actions">
            <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6><i class="fa  fa-check-circle-o bk-fg-warning"></i>Sorting Activity</h6>
        <div class="panel-actions">
            <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">

    </div>
</div>